@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: white;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

#menu-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu-button {
    text-decoration: none;
    color: white;
    font-size: 30px;
}



body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}
a:link,
a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
}



main {
    padding: 20px;
}

.currentWork {
    text-align: center; 
}

nav li {
    margin: 0 30px; 
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    text-align: center; 
}

figure {
    margin: 0;
}

.gallery-image {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

h1 {
    font-family: var(--secondary-font); 
}

h2 {
    font-family: var(--secondary-font); 
}


footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: left; 
}

@media screen and (max-width: 700px) {
 .gallery {
        grid-template-columns: 1fr;
    }
    nav ul {
        display: block; 
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin-top: 0;
    }

        h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 700px) {
        .gallery {
        grid-template-columns: 1fr 1fr;
    }
    nav ul {
    
        display: flex; 
        justify-content: center;
        padding: 0;
        list-style-type: none;
        gap: 30px;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul {
        display: flex;
        justify-content: center;
        padding: 0;
        list-style-type: none;
        gap: 30px;
    }

      #menu-button {
        display: none; 
    }
}

.hide {
	display: none;
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.viewer .image-container {
  position: relative; 
  display: inline-block; 
  max-width: 70vw;
  max-height: 70vh;
}

.viewer .image-container .close {
position: absolute;
top: -44px;
right: -37px;
border: none;  
background: white;
font-size: 1.5rem;
padding: 0.5rem 0.75rem;
cursor: pointer;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
z-index: 2;


}

.viewer:not(.show) {
  display: none;
}


.viewer img {
display: block;
max-width: 70vw;
max-height: 70vh; 
}




.image-wrapper {
  position: relative;
  display: inline-block;
}



.viewer.show {
    opacity: 1;
}




