body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
div {
    max-width: 600px;
    margin: 50px auto;
    border: solid grey;
    border-width: 1px;
    padding: 20px 200px 30px 200px;
}
header {
    text-align: center;
    border-bottom: solid rgb(191, 191, 191) 1px;
}
#title {
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: -5px;
    padding-bottom: 10px;
    padding-top: 20px;
}
#subtitle {
    color: #006EB6;
    letter-spacing: 4px;
    margin-bottom: 1px;
}
main {
    line-height: 1.5;
    padding-top: 20px;
}
p {
    margin-bottom: 20px;
} 
ol {
    padding-left: 40px;
    padding-bottom: 20px;
} 
li {
    margin-bottom: 15px;
}
footer {
    align-items: center;
} 
img {
    width: 150px;
    padding-left: 225px;
    padding-bottom: 20px;
}
